## 0 Import Libraries

In [2]:
import pandas as pd
from sklearn.linear_model import LinearRegression
import numpy as np

## 1.0 LOAD DATASET

In [3]:
dataset_path = 'train.csv'
df = pd.read_csv(dataset_path)

In [4]:
df.head()

,id_cliente,idade,saldo_atual,divida_atual,renda_anual,valor_em_investimentos,taxa_utilizacao_credito,num_emprestimos,num_contas_bancarias,num_cartoes_credito,dias_atraso_dt_venc,num_pgtos_atrasados,num_consultas_credito,taxa_juros,investe_exterior,pessoa_polit_exp,limite_adicional
0,1767,21,278.172008,2577.05,24196.89636,104.306544,31.038763,6,5,7,21,14,9,15,Não,Não,Negar
1,11920,40,268.874152,2465.39,19227.37796,69.858778,36.917093,5,8,5,40,23,10,18,Não,Não,Negar
2,8910,36,446.643127,1055.29,42822.28223,134.201478,34.561714,0,3,6,26,13,3,15,Sim,Não,Negar
3,4964,58,321.141267,703.05,51786.82600,297.350067,31.493561,0,3,7,12,7,2,1,Sim,Não,Negar
4,10100,35,428.716114,891.29,44626.85346,134.201478,28.028887,2,8,7,24,10,8,20,Sim,Não,Negar

## 2.0 DATA PREPARATION

In [5]:
df.columns

Index(['id_cliente', 'idade', 'saldo_atual', 'divida_atual', 'renda_anual',
       'valor_em_investimentos', 'taxa_utilizacao_credito', 'num_emprestimos',
       'num_contas_bancarias', 'num_cartoes_credito', 'dias_atraso_dt_venc',
       'num_pgtos_atrasados', 'num_consultas_credito', 'taxa_juros',
       'investe_exterior', 'pessoa_polit_exp', 'limite_adicional'],
      dtype='object')

In [6]:
# features = ['idade', 'divida_atual', 'renda_anual',
#             'valor_em_investimentos', 'taxa_utilizacao_credito', 'num_emprestimos',
#             'num_contas_bancarias', 'num_cartoes_credito', 'dias_atraso_dt_venc',
#             'num_pgtos_atrasados', 'num_consultas_credito', 'taxa_juros']
features = ['idade', 'divida_atual', 'renda_anual','num_pgtos_atrasados', 'num_consultas_credito']
label = ['saldo_atual']

In [7]:
x_train = df.loc[:,features]
y_train = df.loc[:,label]

## 3.0 MODEL TRAINING

In [8]:
#model definition
lr_model = LinearRegression()
#model fit
lr_model.fit(x_train, y_train)
#predict
y_pred = lr_model.predict(x_train)

In [9]:
df1 = df.loc[:,['id_cliente','saldo_atual']]
df1['predicted'] = y_pred
df1.head()

   id_cliente  saldo_atual   predicted
0        1767   278.172008  335.734457
1       11920   268.874152  342.390960
2        8910   446.643127  426.396661
3        4964   321.141267  447.399195
4       10100   428.716114  436.240392